body {
  background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/1245620/ss_ae44317e3bd07b7690b4d62cc5d0d1df30367a91.jpg");
  background-position: center;
  background-attachment: fixed;
  font-family: Mantinia;
  text-shadow: 2px 2px 5px #000;
  color: #fff;
  border
}

.container {
  background-color: rgba(120, 120, 120, .69);
}

@media (min-width: 992px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}

#tableResults {
  border-collapse: separate;
  border-spacing: 0 20px;
}

#tableBosses {
  border-collapse: separate;
  border-spacing: 0 20px;
}

#tableCreatures {
  border-collapse: separate;
  border-spacing: 0 20px;
}

#tableNpcs {
  border-collapse: separate;
  border-spacing: 0 20px;
}

#tableLocations {
  border-collapse: separate;
  border-spacing: 0 20px;
}

td {
  background-color: #000 !important;
  color: #fff !important;
}

.nav-link {
  color: #eee !important;
}

.nav-link.active {
  color: #ffdb00 !important;
  background-color: rgba(170, 170, 170, .40) !important;
}

.nav-link:focus,
.nav-link:hover {
  color: #ffdb00 !important;
}
